/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: pink;
   background-repeat: no-repeat;
    background-size: 1300px 1150px
}

/* Estilos do cabeçalho */
header {
   
    color:rgba(245, 15, 168, 0.87);
    /*valores superior e inferior, seguido de valores da direita e esquerda.*/
    padding: 30px 30px;
    text-align: center;
}

header h3 {
    margin: 0;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: rgb(44, 3, 3);
    font-weight: bold;
    font-size: 20px;
}

/* Estilos das seções */
section {
    padding: 40px 0;
    text-align: center;
}

section h3 {
    font-size: 20px;
    /*margin inferior*/
    margin-bottom: 20px;
}

/* Estilos das receitas */
.receita {
    background-color: white;
    border: 1px solid brown;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.receita h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
h1{
    color: rgb(247, 244, 244);
    text-align: center;
}
h2{
    color: brown;
    text-align: center;

}
p{
    color: br
}
/* Estilos responsivos */
@media screen and (max-width: 768px) {
    /* Estilos responsivos aqui */
}

@media screen and (min-width: 769px) {
    /* Estilos responsivos aqui */
}
img{
    margin:auto;
    display: block;
    width: 30%;
    height: 30%;
    
}